<div class="row">
	<div class="col-lg-6">
		<table class="table table-striped table-hover table-condensed table-responsive">
			<caption>
				{{ captions.unique }}
			</caption>
			<thead>
				<tr>
					<td colspan="99">
						<div pagination-rows="pagination.rows" all-rows="rows" pagination-controls></div>
					</td>
				</tr>
				<tr>
					<th>ID</th>
					<th>Unique ID</th>
					<th>Created</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="99" data-ng-if="!rows.length">
						<span>No rows</span>
					</td>
				</tr>
				<tr data-ng-repeat="row in pagination.rows.itemsShow">
					<td>{{ row.id }}</td>
					<td class="hide-overflow">{{ row.uuid }}</td>
					<td>{{ row.createdAt | date:dateFormat }}</td>
					<td><a data-ng-href="#/unique/UuidId/{{ row.id }}" class="btn btn-primary btn-xs">View Sessions</a></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-lg-6">
		<table class="table table-striped table-hover table-condensed table-responsive">
			<caption>
				Sessions for Unique Visitor ID: {{ uniqueSessionsUuidId || '-' }}
			</caption>
			<thead>
				<tr>
					<td colspan="99">
						<div pagination-rows="pagination.uniqueSessions" all-rows="uniqueSessions" pagination-controls></div>
					</td>
				</tr>
				<tr>
					<th>ID</th>
					<th>IP Address</th>
					<th>Created</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<td colspan="99" data-ng-if="!uniqueSessions.length">
					<span>No unique visitor selected</span>
				</td>
				<tr data-ng-repeat="row in pagination.uniqueSessions.itemsShow">
					<td>{{ row.id }}</td>
					<td>{{ row.remoteIp }}</td>
					<td>{{ row.createdAt | date:dateFormat }}</td>
					<td><a data-ng-href="#/session/SessionId/{{ row.id }}" class="btn btn-primary btn-xs">View Logs</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>